<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Tracking</span>
            </div>
            <div class="h2 mt-16">Tracker</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" [ngClass]="this.view">

        <div class="cards">

            <!-- CARD 1 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 center">Farm</div>
                        </div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <span class="mat-display-4">4</span>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

            </div>
            <!-- / CARD 1 -->

            <!-- CARD 2 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1">Packing Center</div>
                        </div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <span class="mat-display-4">1</span>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

            </div>
            <!-- / CARD 2 -->

            <!-- CARD 3 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1">Exporter</div>
                        </div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <span class="mat-display-4">1</span>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

            </div>
            <!-- / CARD 3 -->

            <!-- CARD 4 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1">Importer</div>
                        </div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <span class="mat-display-4">1</span>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

            </div>
            <!-- / CARD 4 -->


            <!-- CARD 4 -->
            <div class="card">

                <!-- PREVIEW -->
                <div class="card-preview">

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1">Whole Foods</div>
                        </div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <span class="mat-display-4">6</span>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->

            </div>
            <!-- / CARD 4 -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>